@{
    ViewData["Title"] = "LB WebApps | Home";
}
<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">CO453: Application Programming</h1>
    <h2>by Leighton Burgoyne</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" asp-controller="Home" asp-action="DistanceConverter">App 01</a> Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" asp-controller="Home" asp-action="BMICalculator">App 02</a> BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-controller="Students" asp-action="Index">App 03</a> Student Marks
        </li>
        <li class="list-group-item">
            <a class="btn btn-danger" asp-controller="Home" asp-action="SocialNetwork">App 04</a> Social Network
        </li>
                <li class="list-group-item">
            <a class="btn btn-primary" asp-controller="Home" asp-action="MonoGame">App 05</a> MonoGame
        </li>
    </ol>
</section>
