
@{
    ViewData["Title"] = "LB WebApps | Social Network";
}
<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">Social Network</h1>
    <p>
        This App will allow you to post messages and photos for other users to view, like and interact with.
    </p>
</header>